# RiverOs perfil RISP-RADIUS-EMBEBIDO
# = RISP-RADIUS + backend Risp embebido en la imagen (risp + static + templates)
# Requiere FILES=<arbol files con backend risp> (estructura en el build script)
# Uso: cd imagebuilder-25.12.5 && FILES=<arbol backend> ./build.sh -p risp-radius-embebido
PROFILE="mikrotik_routerboard-750gr3"
PACKAGES="base-files busybox dropbear fstools kmod-gpio-button-hotplug kmod-leds-gpio libc libgcc libuci logd mtd netifd procd ubus ubusd ubox uci urandom-seed urngd kmod-usb3 dnsmasq nftables kmod-nft-nat tc-tiny wireguard-tools kmod-wireguard ppp ppp-mod-pppoe ppp-mod-radius rp-pppoe-server -firewall4 -nftables-json -kmod-nft-offload -wpad-basic-mbedtls -odhcpd-ipv6only -odhcp6c -ca-bundle -uclient-fetch -libustream-mbedtls -procd-ujail -procd-seccomp -kmod-mt7615-firmware -kmod-crypto-hw-eip93 -uboot-envtools -kmod-mt7603 -kmod-mt76 -kmod-mt76-core"
OUTPUT="riveros-RISP-RADIUS-EMBEBIDO-25.12.5.bin"
