# RiverOs perfil NETEST (dev minimal)
# ImageBuilder 25.12.5 ramips/mt7621, PROFILE mikrotik_routerboard-750gr3
# 52 paquetes: sistema minimo, sin LuCI/firewall/dnsmasq
# Uso: cd imagebuilder-25.12.5 && ./build.sh -p netest
PROFILE="mikrotik_routerboard-750gr3"
PACKAGES="base-files busybox dropbear fstools kmod-gpio-button-hotplug kmod-leds-gpio libc libgcc libuci logd mtd netifd procd ubus ubusd ubox uci urandom-seed urngd kmod-usb3 -dnsmasq -firewall4 -nftables -nftables-json -kmod-nft-offload -wpad-basic-mbedtls -ppp -ppp-mod-pppoe -odhcpd-ipv6only -odhcp6c -ca-bundle -uclient-fetch -libustream-mbedtls -procd-ujail -procd-seccomp -kmod-mt7615-firmware -kmod-crypto-hw-eip93 -uboot-envtools -kmod-mt7603 -kmod-mt76 -kmod-mt76-core"
OUTPUT="riveros-NETEST-25.12.5.bin"
